.sidebar {
  grid-row: 2/4;
  grid-column: 1/2;
  background-color: rgb(255, 255, 33);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1.5rem;
  padding-top: 2rem;
}

.side-block {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 3px;
}

.side-block div {
  flex: 1;
  margin-bottom: 10px;
  transition: 0.1s;
}

.side-block div:hover {
  transition: 0.2s;
  font-weight: 800;
  cursor: pointer;
}

.tab {
  margin-left: 20px;
}

/* Only active on burger-menu toggle */
.side-show {
  transform: translateX(0);
  transition: 0.5s;
}
