.sidebar {
  grid-row: 2/4;
  grid-column: 1/2;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1.5rem;
  padding-top: 2rem;
  z-index: 5;
  height: auto;
  overflow-x: auto;
}

.side-block {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 3px;
}

.side-block div {
  flex: 1;
  margin-bottom: 10px;
  transition: 0.1s;
}

.side-block div:hover {
  transition: 0.2s;
  font-weight: 800;
  cursor: pointer;
}

/* --- --- FORM --- --- */
.add-new {
  content: url("../images/add-fill.svg");
  margin-bottom: 20px;
  width: 20px;
  transition: 0.2s;
}

.add-new:hover {
  transition: 0.2s;
  content: url("../images/add.svg");
  cursor: pointer;
  transform: scale(1.1);
}

.form-container-folded {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

/* activated with callback function */
.form-unfolded {
  transition: 1.6s ease-in-out;
  height: fit-content;
  overflow: initial;
}

.sideform {
  display: flex;
  flex-direction: column;
  transition: 1s ease-in-out;
}

.sideform div {
  transition: 0.5s;
  display: flex;
}

/* only active once form unfolded */
.form-unfolded .sideform div {
  transition: 0.6s ease-in-out;
  padding: 15px 0;
}

.inputBlock input,
.inputBlock select {
  flex: 1;
  border: 2px solid rgb(142, 142, 142);
  border-radius: 3px;
  padding-left: 10px;
  height: 22px;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  transition: 0.2s;
  resize: none;
}

.inputBlock input:focus,
.inputBlock select:focus,
textarea:focus {
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  transform: scaleY(1.1);
  transition: 0.2s;
}

textarea {
  flex: 1;
  border: 2px solid rgb(146, 146, 146);
  border-radius: 3px;
  padding-left: 10px;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  transition: 0.2s;
  resize: none;
}

.submitButton {
  padding: 5px 15px;
  border: none;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #000;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.submitButton:hover {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.submitButton:active {
  background-color: rgb(231, 231, 4);
}

.tab {
  margin-left: 20px;
}

/* Only active on burger-menu toggle */
.side-show {
  transform: translateX(0);
  transition: 0.5s;
}
